In [18]:
import pandas as pd
import seaborn
import matplotlib.pyplot as plt 
 
nfl_data = pd.read_csv("team_stats_2003_2023.csv")
nfl_data.iloc[576:671]

,year,team,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
576,2021,Buffalo Bills,11,6,0.647,483,289,194,NaN,17,...,20,4.8,134,113,980,28,45.2,11.3,216.68,0.0
577,2021,New England Patriots,10,7,0.588,462,303,159,NaN,17,...,24,4.4,139,95,854,36,48.0,12.6,126.97,0.0
578,2021,Miami Dolphins,9,8,0.529,341,373,-32,NaN,17,...,12,3.5,87,105,825,32,30.1,12.4,-11.96,0.0
579,2021,New York Jets,4,13,0.235,310,504,-194,NaN,17,...,14,4.4,87,103,860,28,29.4,14.4,-32.71,0.0
580,2021,Cincinnati Bengals,10,7,0.588,460,376,84,NaN,17,...,16,4.0,96,72,620,33,42.6,10.0,118.50,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,2023,Atlanta Falcons,7,10,0.412,321,373,-52,-3.1,17,...,14,4.1,121,84,743,24,32.1,14.3,-32.52,NaN
667,2023,Carolina Panthers,2,15,0.118,236,416,-180,-10.6,17,...,7,4.0,111,103,845,36,25.0,11.1,-135.03,NaN
668,2023,San Francisco 49ers,12,5,0.706,491,298,193,11.4,17,...,27,4.8,147,101,933,29,45.3,10.1,231.48,NaN
669,2023,Los Angeles Rams,10,7,0.588,404,377,27,1.6,17,...,18,4.3,110,89,720,35,41.1,9.2,133.32,NaN
670,2023,Seattle Seahawks,9,8,0.529,364,402,-38,-2.2,17,...,11,4.1,93,111,954,35,38.8,8.4,62.33,NaN

In [19]:
nfl_data.info()
nfl_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  672 non-null    int64
 1   team                  672 non-null    object
 2   wins                  672 non-null    int64
 3   losses                672 non-null    int64
 4   win_loss_perc         672 non-null    float64
 5   points                672 non-null    int64
 6   points_opp            672 non-null    int64
 7   points_diff           672 non-null    int64
 8   mov                   352 non-null    float64
 9   g                     672 non-null    int64
 10  total_yards           672 non-null    int64
 11  plays_offense         672 non-null    int64
 12  yds_per_play_offense  672 non-null    float64
 13  turnovers             672 non-null    int64
 14  fumbles_lost          672 non-null    int64
 15  first_down            672 non-null    int64
 16  pass_cmp              672 non-null    int64
 17  pass_att              672 non-null    int64
 18  pass_yds              672 non-null    int64
 19  pass_td               672 non-null    int64
 20  pass_int              672 non-null    int64
 21  pass_net_yds_per_att  672 non-null    float64
 22  pass_fd               672 non-null    int64
 23  rush_att              672 non-null    int64
 24  rush_yds              672 non-null    int64
 25  rush_td               672 non-null    int64
 26  rush_yds_per_att      672 non-null    float64
 27  rush_fd               672 non-null    int64
 28  penalties             672 non-null    int64
 29  penalties_yds         672 non-null    int64
 30  pen_fd                672 non-null    int64
 31  score_pct             672 non-null    float64
 32  turnover_pct          672 non-null    float64
 33  exp_pts_tot           672 non-null    float64
 34  ties                  320 non-null    float64
dtypes: float64(9), int64(25), object(1)
memory usage: 183.9+ KB

,year,wins,losses,win_loss_perc,points,points_opp,points_diff,mov,g,total_yards,...,rush_td,rush_yds_per_att,rush_fd,penalties,penalties_yds,pen_fd,score_pct,turnover_pct,exp_pts_tot,ties
count,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,352.000000,672.000000,672.000000,...,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,672.000000,320.000000
mean,2013.000000,8.050595,8.050595,0.500246,358.633929,358.633929,0.000000,-0.001136,16.139881,5463.895833,...,13.462798,4.199554,99.775298,101.494048,849.501488,27.889881,34.093304,12.561756,-35.937113,0.081250
std,6.059811,3.093255,3.086020,0.191452,72.092050,57.889328,100.684601,6.313288,0.347122,628.209466,...,5.170285,0.440718,20.837354,16.145851,146.167034,7.251892,6.730800,3.206515,120.556255,0.273647
min,2003.000000,0.000000,0.000000,0.000000,168.000000,201.000000,-261.000000,-16.300000,16.000000,3587.000000,...,2.000000,3.100000,53.000000,55.000000,415.000000,9.000000,16.400000,4.000000,-358.270000,0.000000
25%,2008.000000,6.000000,6.000000,0.375000,305.000000,316.750000,-75.000000,-4.700000,16.000000,5030.250000,...,10.000000,3.900000,84.000000,91.000000,751.750000,23.000000,29.200000,10.200000,-124.015000,0.000000
50%,2013.000000,8.000000,8.000000,0.500000,359.000000,356.500000,-1.000000,0.000000,16.000000,5467.500000,...,13.000000,4.200000,98.000000,102.000000,852.500000,27.000000,33.900000,12.400000,-40.970000,0.000000
75%,2018.000000,10.000000,10.000000,0.625000,406.000000,398.000000,75.250000,4.625000,16.000000,5900.250000,...,17.000000,4.500000,112.250000,112.000000,941.250000,33.000000,38.800000,14.800000,49.795000,0.000000
max,2023.000000,16.000000,16.000000,1.000000,606.000000,519.000000,315.000000,19.700000,17.000000,7474.000000,...,32.000000,5.500000,188.000000,163.000000,1358.000000,50.000000,52.700000,25.000000,298.140000,1.000000